[project]
	description = Only for testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pascal Brand (dev) (pascal-brand-st-dev)
[access "refs/for/refs/*"]
	read = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	push = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	label-Code-Review = -2..+2 group user/Pascal Brand (dev) (pascal-brand-st-dev)
	label-Verified = -1..+1 group user/Pascal Brand (dev) (pascal-brand-st-dev)
	rebase = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	removeReviewer = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	submit = group user/Pascal Brand (dev) (pascal-brand-st-dev)
[access "refs/heads/*"]
	read = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	create = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	push = +force group user/Pascal Brand (dev) (pascal-brand-st-dev)
	pushMerge = group user/Pascal Brand (dev) (pascal-brand-st-dev)
[access "refs/tags/*"]
	push = +force group user/Pascal Brand (dev) (pascal-brand-st-dev)
	pushTag = group user/Pascal Brand (dev) (pascal-brand-st-dev)
	pushSignedTag = group user/Pascal Brand (dev) (pascal-brand-st-dev)
